<%- include('./partials/head.ejs') %>
<div id="container">

    <h2>New Product</h2>
    <form id="reg-form" action="/products" method="POST">

            <label for="new_name">Name</label>
            <input type="text" name="name" id="new-name"/>

            <label for="new_description">Description</label>
            <input type="text" name="description" id="new-description"/>

            <label for="new_price">Price</label>
            <input type="number" name="price" id="new-price"/>

            <label for="new_qty">Quantity</label>
            <input type="number" name="qty" id="new-qty"/>

            <label for="new_img">Image</label>
            <input type="text" name="img" id="new-img"/>

        <input type="submit" value="Add Product"/>
    </form>
 
<%- include('./partials/foot.ejs') %>    