/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    /* font-family: 'Space Mono', monospace; */
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'VT323', monospace;
    background: black;
    padding: 24px;
    color: whitesmoke;
    color: rgb(60, 224, 18);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

h1 {
    font-size: 64px;
    margin: 0;
}

p {
    margin: 16px 0 0 0;
    font-size: 24px;
}

#blinky {
    background: rgb(60, 224, 18);
    width: 12px;
    height: 2px;
    position: relative;
    top: -10px;
    
}

button {
    padding: 6px 8px;
    margin: 16px 8px 0 0;
    text-transform: uppercase;
    font-size: 10px;
    background: rgb(60, 224, 18);
    border: none;
    font-family: 'VT323', monospace;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
}

button:hover {
    text-decoration: underline;
}

button:active {
    color:rgb(60, 224, 18);
    background: black;
    border: 1px solid rgb(60, 224, 18);
}