@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* GLOBAL */
:root {
    font-size: 10px;
    --light: whitesmoke;
    --dark: black;
    --accent-color: orangered;
    --slight-tint: rgba(0,0,0,.1);
    --dark-tint: rgba(0,0,0,.25);
    --warning: orange;
    --danger: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* STRUCTURE */
body {
    background: var(--accent-color);
    color: var(--light);
}


header {
    background: var(--dark);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 48px 0;
}

footer {
    background: var(--dark);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TYPOGRAPHY */
h1 {
    font-size: 4.8rem;
    font-weight: 900;
}

h2  {
    font-size: 2.4rem;
}

/* HEADER DETAILS */
nav {
    color: var(--accent-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

nav > p {
    margin: 12px 0;
}

nav a {
    color: var(--light);
    background: var(--accent-color);
    padding: 6px 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
}

nav a:hover {
    border: 1px solid var(--light);
}

nav a:active {
    text-decoration: underline;
}

#top-nav-link {
    background: var(--accent-color);
    display: inline;
}

#logoutButton {
    color: var(--light);
    background: var(--accent-color);
    padding: 6px 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
}

#logoutButton:hover {
    border:1px solid var(--light);
}

#logoutButton:active {
    text-decoration: underline;
}


/* LANDING PAGE */
#landing {
    width: 66%;
    height: 500px;
}

#landing-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark);
}

/* INDEX PAGE */
#product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
}

.product-card {
    margin: 12px;
    background: var(--light);
}

.product-card > img {
    width: 300px;
}

.product-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-text > p {
    padding: 12px 0; 
}

a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.8rem;
}


/* SHOW PAGE */
.key {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.value {
    font-size: 2rem;
}

.italic {
    font-style: italic;
    font-weight: 100;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#product-image {
    width: 80%;
}

#product-details {
    width: 80%;
    display: flex;
    flex-direction: row;
    background: var(--dark-tint);
    padding: 24px 48px 36px 48px;
}

#product-highlights {
    width: 33%;
}

#product-highlights h2 {
}

#product-highlights p.key {
    margin: 16px 0 0 0;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
}

#product-highlights p.value {
    font-size: 1.6rem;
}

#product-description {
    width: 66%;
    font-size: 1.4rem;
}

#buyButton {
    margin: 16px 0 0 0;
    width: 80%;
    color: var(--light);
    background: var(--dark);
    padding: 12px 24px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid var(--dark-tint);
    
}

#buyButton:hover {
    border: 1px solid var(--light);
}

#buyButton:active {
    text-decoration: underline;
}

#admin-controls {
    margin: 12px 0;
}

#admin-controls > form {
    display: inline;
}

#admin-delete {
    
    color: var(--light);
    background: var(--danger);
    width: 80%;
    margin: 16px 0 0 0;
    padding: 12px 24px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    /* display: inline; */
}

#admin-edit {
    color: var(--light);
    background:var(--warning);
    width: 80%;
    margin: 16px 0 0 0;
    padding: 12px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    display: block;
    text-align: center;
} 


/* SHOPPING CART */
table {
    margin: 16px 0 0 0;
}

thead {
    background: var(--dark-tint);
}

tbody {
    background: var(--slight-tint);
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid var(--light);
}

th, td {
    padding: 10px;
    font-size: 1.6rem;
}

#table-total {
    text-align: right;
}


/* REGISTER */
#reg-form {
    background: var(--dark-tint);
    padding: 24px;
    width: 60%;
    margin: 16px 0;
}

#reg-form > input {
    width: 100%;
    margin: 0 0 12px 0;
    padding: 6px;
}

#reg-form > input[type="submit"] {
    background: var(--dark);
    color: var(--light);
    border: none;

}


/* LOGIN */
