<%- include('../partials/head.ejs') %>
<div id="container">
    <h2>Login User</h2>

    <form id="reg-form" action="/sessions" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" /> 

        <input type="submit" value="Login" />
    </form>


    <p class="tag-line">Don't have an account? <a class="tag-link" href="/users/register">Register</a>.</p>

</div>
<%- include('../partials/foot.ejs') %>   